[submodule "ctable"]
	path = site-lisp/ctable
	url = https://github.com/kiwanami/emacs-ctable
[submodule "deferred"]
	path = site-lisp/deferred
	url = https://github.com/kiwanami/emacs-deferred
[submodule "epc"]
	path = site-lisp/epc
	url = https://github.com/kiwanami/emacs-epc
[submodule "hlinum"]
	path = site-lisp/hlinum
	url = https://github.com/ramnes/hlinum-mode
[submodule "site-lisp/android-mode"]
	path = site-lisp/android-mode
	url = https://github.com/remvee/android-mode
[submodule "site-lisp/column-enforce-mode"]
	path = site-lisp/column-enforce-mode
	url = https://github.com/jordonbiondo/column-enforce-mode
[submodule "site-lisp/jinja2-mode"]
	path = site-lisp/jinja2-mode
	url = https://github.com/paradoxxxzero/jinja2-mode
[submodule "site-lisp/lua-mode"]
	path = site-lisp/lua-mode
	url = https://github.com/immerrr/lua-mode
[submodule "site-lisp/php-mode"]
	path = site-lisp/php-mode
	url = https://github.com/ejmr/php-mode
[submodule "site-lisp/python-environment"]
	path = site-lisp/python-environment
	url = https://github.com/tkf/emacs-python-environment
[submodule "site-lisp/move-border"]
	path = site-lisp/move-border
	url = https://github.com/ramnes/move-border
[submodule "site-lisp/markdown-mode"]
	path = site-lisp/markdown-mode
	url = https://github.com/defunkt/markdown-mode
[submodule "site-lisp/web-mode"]
	path = site-lisp/web-mode
	url = https://github.com/fxbois/web-mode
[submodule "site-lisp/yaml-mode"]
	path = site-lisp/yaml-mode
	url = https://github.com/yoshiki/yaml-mode
[submodule "site-lisp/popup-el"]
	path = site-lisp/popup-el
	url = https://github.com/auto-complete/popup-el
[submodule "site-lisp/rainbow-delimiters"]
	path = site-lisp/rainbow-delimiters
	url = https://github.com/jlr/rainbow-delimiters
[submodule "site-lisp/mmm-mode"]
	path = site-lisp/mmm-mode
	url = https://github.com/purcell/mmm-mode
[submodule "site-lisp/rust-mode"]
	path = site-lisp/rust-mode
	url = https://github.com/rust-lang/rust-mode
[submodule "site-lisp/multiple-cursors"]
	path = site-lisp/multiple-cursors
	url = https://github.com/magnars/multiple-cursors.el
[submodule "site-lisp/go-mode"]
	path = site-lisp/go-mode
	url = https://github.com/dominikh/go-mode.el
[submodule "site-lisp/helm-swoop"]
	path = site-lisp/helm-swoop
	url = https://github.com/ShingoFukuyama/helm-swoop
[submodule "site-lisp/helm"]
	path = site-lisp/helm
	url = https://github.com/emacs-helm/helm
[submodule "site-lisp/htmlize"]
	path = site-lisp/htmlize
	url = https://github.com/emacsmirror/htmlize
[submodule "site-lisp/json-reformat"]
	path = site-lisp/json-reformat
	url = https://github.com/gongo/json-reformat
[submodule "site-lisp/git-messenger"]
	path = site-lisp/git-messenger
	url = https://github.com/syohex/emacs-git-messenger
[submodule "site-lisp/popwin"]
	path = site-lisp/popwin
	url = https://github.com/m2ym/popwin-el
[submodule "site-lisp/nginx-mode"]
	path = site-lisp/nginx-mode
	url = https://github.com/ajc/nginx-mode
[submodule "site-lisp/transpose-frame"]
	path = site-lisp/transpose-frame
	url = https://github.com/flychen50/transpose-frame
[submodule "site-lisp/editorconfig"]
	path = site-lisp/editorconfig
	url = https://github.com/editorconfig/editorconfig-emacs.git
[submodule "site-lisp/emacs-git-gutter"]
	path = site-lisp/emacs-git-gutter
	url = https://github.com/syohex/emacs-git-gutter.git
[submodule "site-lisp/pip-requirements"]
	path = site-lisp/pip-requirements
	url = https://github.com/Wilfred/pip-requirements.el
[submodule "site-lisp/dash"]
	path = site-lisp/dash
	url = https://github.com/magnars/dash.el.git
[submodule "site-lisp/async"]
	path = site-lisp/async
	url = https://github.com/jwiegley/emacs-async.git
[submodule "site-lisp/typit"]
	path = site-lisp/typit
	url = https://github.com/mrkkrp/typit.git
[submodule "site-lisp/f"]
	path = site-lisp/f
	url = https://github.com/rejeep/f.el
[submodule "site-lisp/mmt"]
	path = site-lisp/mmt
	url = https://github.com/mrkkrp/mmt.git
[submodule "site-lisp/s"]
	path = site-lisp/s
	url = https://github.com/magnars/s.el.git
[submodule "site-lisp/flymake-diagnostic-at-point"]
	path = site-lisp/flymake-diagnostic-at-point
	url = https://github.com/meqif/flymake-diagnostic-at-point.git
[submodule "site-lisp/dockerfile-mode"]
	path = site-lisp/dockerfile-mode
	url = https://github.com/spotify/dockerfile-mode.git
[submodule "site-lisp/flymake-go"]
	path = site-lisp/flymake-go
	url = https://github.com/robert-zaremba/flymake-go.git
[submodule "site-lisp/flymake-shellcheck"]
	path = site-lisp/flymake-shellcheck
	url = https://github.com/federicotdn/flymake-shellcheck.git
[submodule "site-lisp/magit"]
	path = site-lisp/magit
	url = https://github.com/magit/magit.git
[submodule "site-lisp/with-editor"]
	path = site-lisp/with-editor
	url = https://github.com/magit/with-editor.git
[submodule "site-lisp/transient"]
	path = site-lisp/transient
	url = https://github.com/magit/transient.git
[submodule "site-lisp/hydra"]
	path = site-lisp/hydra
	url = https://github.com/abo-abo/hydra.git
[submodule "site-lisp/emacs-terraform-mode"]
	path = site-lisp/terraform-mode
	url = https://github.com/syohex/emacs-terraform-mode.git
[submodule "site-lisp/emacs-hcl-mode"]
	path = site-lisp/hcl-mode
	url = https://github.com/syohex/emacs-hcl-mode.git
[submodule "site-lisp/python-black"]
	path = site-lisp/python-black
	url = https://github.com/wbolster/emacs-python-black.git
[submodule "site-lisp/reformatter"]
	path = site-lisp/reformatter
	url = https://github.com/purcell/reformatter.el.git
[submodule "site-lisp/nix-mode"]
	path = site-lisp/nix-mode
	url = https://github.com/NixOS/nix-mode.git
