[submodule "jedi"]
	path = site-lisp/jedi
	url = git@github.com:tkf/emacs-jedi.git
[submodule "ctable"]
	path = site-lisp/ctable
	url = git@github.com:kiwanami/emacs-ctable.git
[submodule "deferred"]
	path = site-lisp/deferred
	url = git@github.com:kiwanami/emacs-deferred.git
[submodule "epc"]
	path = site-lisp/epc
	url = git@github.com:kiwanami/emacs-epc.git
[submodule "cl-lib"]
	path = site-lisp/cl-lib
	url = git@github.com:emacsmirror/cl-lib.git
[submodule "auto-complete"]
	path = site-lisp/auto-complete
	url = git@github.com:auto-complete/auto-complete.git
[submodule "flymake"]
	path = site-lisp/flymake
	url = git@github.com:illusori/emacs-flymake.git
[submodule "hlinum"]
	path = site-lisp/hlinum
	url = git@github.com:ffailla/hlinum-mode.git
[submodule "site-lisp/android-mode"]
	path = site-lisp/android-mode
	url = git@github.com:remvee/android-mode.git
[submodule "site-lisp/column-enforce-mode"]
	path = site-lisp/column-enforce-mode
	url = git@github.com:jordonbiondo/column-enforce-mode.git
[submodule "site-lisp/jinja2-mode"]
	path = site-lisp/jinja2-mode
	url = git@github.com:paradoxxxzero/jinja2-mode.git
[submodule "site-lisp/lua-mode"]
	path = site-lisp/lua-mode
	url = git@github.com:immerrr/lua-mode.git
[submodule "site-lisp/php-mode"]
	path = site-lisp/php-mode
	url = git@github.com:ejmr/php-mode.git
[submodule "site-lisp/python-environment"]
	path = site-lisp/python-environment
	url = git@github.com:tkf/emacs-python-environment.git
[submodule "site-lisp/flymake-cursor"]
	path = site-lisp/flymake-cursor
	url = https://github.com/emacsmirror/flymake-cursor
[submodule "site-lisp/autopair"]
	path = site-lisp/autopair
	url = https://github.com/capitaomorte/autopair.git
[submodule "site-lisp/move-border"]
	path = site-lisp/move-border
	url = git@github.com:ramnes/move-border.git
[submodule "site-lisp/markdown-mode"]
	path = site-lisp/markdown-mode
	url = https://github.com/defunkt/markdown-mode
[submodule "site-lisp/web-mode"]
	path = site-lisp/web-mode
	url = https://github.com/fxbois/web-mode.git
